@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--branding-orange: #eb7d3f;
	--branding-light-orange: #f6b036;
}

p > a {
	border-bottom: 1px solid var(--branding-orange);
}

p > a:hover {
	font-style: italic;
}
